<nav class="navbar navbar-expand-lg" style="background-color: #F1F6FE;">
  <div class="container">
    <div class="d-flex justify-content-between w-100">
      <div>
        <a class="navbar-brand" href="#">ReserveMyTable</a>
      </div>
      <div>
        <%= link_to 'Login', '#', class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
</nav>