<div class="jumbotron p-5 mb-3 color-principal">
  <h3 class="pb-4 text-center">Encontre uma mesa para qualquer ocasião</h3>
  <div class="d-flex justify-content-between">
    <input class="form-control form-control-lg width-120" type="text" placeholder="Estado, cidade ou bairro">
    <button type="button" class="btn btn-danger">Buscar</button>
  </div>
</div>
<p>Some content of index page</p>